[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
contourpy = "*"
scikit-learn = "*"
scipy = "*"
pygame = "*"
gym = {extras = ["atari", "accept-rom-license"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
