[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "==1.24.0"
matplotlib = "*"
seaborn = "*"
contourpy = "*"
scikit-learn = "*"
scipy = "*"
pygame = "*"
gym = "==0.25.0"

[dev-packages]

[requires]
python_version = "3.11"
